body {
  margin: 0;
  padding: 0;
  font: normal 12px "Segoe UI", Arial, Sans-serif;
}

h1{
  font: normal 14px "Segoe UI", Arial, Sans-serif;
  font-weight: bold;
}

.filelist
{
  text-align: left;
}

.directory
{
  font-weight: bold;
}

.file
{
  padding-left: 6px;
}
