 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 12px "Segoe UI", Arial, Sans-serif;
}

.css-files {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 6px;
}

.css-files iframe {
  width: 100%;
  height: 100%;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 6px;
}

.css-files input {
  vertical-align: middle;
  margin-bottom: 12px;
  width:100%;
}
