body {
  margin: 0;
  padding: 0;
}

.mainFiles
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    border: 0;
}

.mainSelector
{
    position: absolute;
    top: 0;
    left: 200px;
    height: 100%;
    width: 200px;
    border: 0;
}

.mainContent
{
    position: absolute;
    top: 0;
    left: 400px;
    height: 100%;
    width: 100%;
    border: 0;
}


/* The Modal (background) */
.modal {
    display: none;          /* Hidden by default */
    position: absolute;     /* Stay in place */
    z-index: 1;             /* Sit on top */
    left: 50%;
    top:  50%;
    width:  500px;          /* Full width */
    height: 500px;          /* Full height */
    margin-left: -250px;
    margin-top:  -250px;
    overflow: auto;                     /* Enable scroll if needed */
    background-color: rgb(0,0,0);       /* Fallback color */
    background-color: rgba(0,0,0,0.4);  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
}

.modal-header {
    /*padding: 2px 16px;*/
    background-color: #5cb85c;
    color: white;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
